<tui-root>
  <div
    class="w-full flex justify-between items-center py-2 bg-primary-700 px-2"
  >
    <img src="../assets/images/logo.png" alt="Girl in a jacket">
    <tui-tabs [underline]="false" class="tabs">
      <a tuiTab routerLink="/page1" routerLinkActive class="tab-text">
        Page 1
      </a>
      <a tuiTab routerLink="/page2" routerLinkActive class="tab-text">
        Page 2
      </a>
    </tui-tabs>
  </div>

  <router-outlet></router-outlet>
  <app-footer></app-footer>
</tui-root>
