/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@font-face {
    font-family: IndieFlower;
    src: url(assets/fonts/Indie_Flower/IndieFlower-Regular.ttf) format("opentype");
  }
:host {
    --tui-selection: #c86dd7;
    --tui-font-text: 'Comic Sans MS', cursive;
    --tui-font-text-m: bold 1rem/1.5rem var(--tui-font-text);
    --tui-font-text-s: normal 0.5rem/1.25rem var(--tui-font-text);
    --tui-primary: #c86dd7;
    --tui-primary-hover: #a456b1;
    --tui-primary-active: #7f3b8a;
    --tui-primary-text: #fff;
    --tui-radius-s: 0;
    --tui-radius-m: 0.25rem;
    --tui-height-l: 4.375rem;
}